body{

}
nav{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.62) 0%, #000000 100%);
}
nav sup{
    color: #ffffff;
}
nav a{
    text-decoration: none;
}
.nav-link{
    color: #ffffff!important;
}
.button-in{
    position: relative;
    margin-bottom: 10px;
}
.button-in input{
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 5rem;
    padding-left: 1rem;
    background: #C4C4C4;
}
.button-in button{
    content: "\003E";
    position: absolute;
    right: 0;
    top: 4px;
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
    border-radius: 40%;
    border-color: #000000;
    outline: none;
    padding: 0.5rem;
    color: #fcf9f9;
    background-color: #000000;
    text-align: center;
}
span.btn, p.btn{
    color: #000000!important;
    background: #FFF500;;
    font-weight: 700;
}

.d-none h5{
    font-size: 4rem;
}
p.btn{
    font-size: 1.5rem;
    border-radius: 10px;
}